.btn {
  border-radius: 12px;
  padding: 16px 60px;
  width: 267px;
  height: 60px;
  background: #f4c550;
  border: none;
  font-weight: 700;
  font-size: 18px;
  color: #121417;
}

.btn:hover {
  background: #ffdc86;
}
