.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 64px;
  padding-left: 64px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo span {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #121417;
}

.nav {
  display: flex;
  gap: 10px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
}

.link:hover,
.activeLink {
  color: #f4c550;
}

.auth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.authBtn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background: #121417;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}

.authBtn:hover {
  color: #f4c550;
}
.loginBtn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
  gap: 8px;
}

.loginBtn:hover {
  color: #f4c550;
}

.logoutBtn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
  gap: 8px;
}

.themeToggleBtn {
  background: transparent;
  border: none;
}
