@import "modern-normalize/modern-normalize.css";

:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(24, 22, 22, 0.87);
  background-color: #eeeeee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
}
body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  cursor: pointer;
  display: block;
}

input {
  font-family: inherit;
  outline: none;
}

#root {
  padding: 20px 64px;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}
